<launch>

    <!-- Image Streamer -->
    <node pkg="perception" type="image_streamer.py" name="image_streamer" output="screen" required="true"/>
    <!-- Image Dataset Creator -->
    <!-- <node pkg="ez_robot_interface" type="image_dataset_creator.py" name="image_dataset_creator" output="screen">
        <param name="save_directory" value="~/Dataset"/>
    </node> -->
  
</launch>