<launch>
    <arg name="model_path" default="$(find perception)/models/assembly_system_detector.pt" />
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

    <arg name="stop_distance" default="0.3" doc="stop distance from goal"/>
    
    <!-- Turtlebot -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)" />
    </include>
    
    <!-- RVIZ -->
    <node pkg="rviz" type="rviz" name="tb3_rviz" required="true"
        args="-d $(find tuos_tb3_tools)/rviz/waffle.rviz"/>
  
    <!-- Assembly System Detector -->
    <node pkg="tb3_perception" type="assembly_system_detector.py" name="assembly_system_detector" output="screen">
        <param name="model_path" value="$(arg model_path)"/>
    </node>

    <!-- Navigation Server -->
    <node pkg="tb3_navigation" type="navigation_server.py" name="navigation_server" output="screen" required="True">
        <param name="stop_distance" value="$(arg stop_distance)"/>
    </node>
    <!-- Navigation Client -->
    <node pkg="tb3_navigation" type="navigation_client.py" name="navigation_client" output="screen"/>

  
</launch>