<launch>
    <arg name="model_path" default="$(find perception)/models/assembly_system_detector.pt" />

    <!-- Turtlebot with RVIZ -->
    <include file="$(find tuos_tb3_tools)/launch/rviz.launch" />

    <!-- Assembly System Detector -->
    <node pkg="tb3_perception" type="assembly_system_detector.py" name="assembly_system_detector" output="screen">
        <param name="model_path" value="$(arg model_path)"/>
    </node>
  
</launch>