<launch>
    <arg name="ARC_Host_IP" default="192.168.0.11"/>
    <arg name="ARC_Host_Port" default="8080"/>

    <!-- Camera Streamer -->
    <node pkg="ez_robot_interface" type="camera_streamer.py" name="ez_camera_streamer" output="screen" required="true"/>
    <!-- EZ Command Action Server -->
    <node pkg="ez_robot_interface" type="ez_command_server.py" name="ez_command_action_server" output="screen" required="true">
        <param name="ARC_Host_IP" value="$(arg ARC_Host_IP)"/>
        <param name="ARC_Host_Port" value="$(arg ARC_Host_Port)"/>
    </node>
  
</launch>